.claims-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.claims-form-splash {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50), #008FDA), url('../../public/images/splash-screens/claims-splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo-wrapper img {
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.claims-splash-text {
  padding-left: 200px;
}

.claims-header-one,
.claims-header-two {
  font-size: 6vh;
  font-weight: bold;
  color: white;
  margin: 0;
  width: fit-content;
}

.claims-form h1 {
  margin: 0px 0px 20px 0px;
  font-weight: 400;
  text-align: center;
}

.claims-content-background {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #008FDA;
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 40px;
}

.claims-content {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 50px 0 50px 0;
}

.left-column {
  width: 50%;
  break-inside: avoid;
}

.left-column h2 {
  margin: 0px 0 20px 0;
}

.left-column li {
  font-size: 1.8vh;
}

.left-column h3 {
  margin: 20px 0 0 0;
}

.left-column p {
  margin: 0;
}

.right-column {
  break-inside: avoid;
  display: flex;
  margin-left: 40px;
  align-items: center;
}

.last-h3 {
  width: 50%;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 1100px) {
  .claims-splash-text {
    padding-left: 0px;
  }

  .claims-header-one,
  .claims-header-two {
    margin: 0 auto;
  }

  .claims-header-two {
    width: 370px;
  }

  .claims-form-wrapper {
    max-width: 100%;
  }

  .claims-form {
    margin-top: 20px;
    width: 100%;
  }

  .claims-content {
    flex-direction: column;
    align-items: center;
  }

  .left-column {
    width: 80%;
  }

  .right-column {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }

  .last-h3 {
    width: 80%;
  }
}