.claim-steps-wrapper {
  margin: 0 auto;
}

.claim-steps-text {
  width: 60%;
  margin: 0 auto;
}

.claim-steps-text h1 {
  font-weight: lighter;
}

.claim-steps-content {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 40px;
  gap: 20px;
}

.claim-step-box {
  flex: 1 0 calc(33.33% - 10px);
  max-width: 350px;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, black, #000F3C);
  color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
}

.claim-step-box img {
  max-width: 98%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 20px;
}

.claim-step-box h2 {
  font-size: 2.5vh;
  margin-bottom: 10px;
}

.claim-step-box p {
  font-size: 2vh;
}

.claim-step-box button {
  margin-top: 5px;
  background-color: YE;
}

@media screen and (max-width: 768px) {
  .claim-steps-wrapper {
    max-width: 80%;
    padding-top: 0px;
  }

  .claim-steps-text {
    width: 90%;
    margin: 0 auto;
  }

  .claim-steps-text h1 {
    font-size: 3vh;
    margin-bottom: 20px;
  }

  .claim-steps-text h3 {
    font-size: 2vh;
    margin-bottom: 20px;
  }

  .claim-steps-content {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
  }

  .claim-step-box {
    margin-bottom: 20px;
    flex: none;
    max-width: 300px;
  }

  .claim-step-box h2 {
    font-size: 2vh;
    margin-bottom: 8px;
  }

  .claim-step-box p {
    font-size: 2vh;
  }

  .claim-step-box button {
    margin-top: 10px;
    font-size: 2.2vh;
    padding: 20px;
  }

  .claim-steps-wrapper .form-container {
    width: 80%;
  }
}