.claim-steps-wrapper {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.claim-steps-wrapper h1 {
  font-weight: lighter;
}

.claim-steps-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.claim-step-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, black, #000F3C);
  color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

.claim-step-box img {
  max-width: 98%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 20px;
}

.claim-step-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.claim-step-box p {
  font-size: 1.3rem;
}

.claim-step-box button {
  margin-top: 5px;
  background-color: YE;
}

@media screen and (max-width: 768px) {
  .claim-steps-wrapper {
    max-width: 80%;
  }

  .claim-steps-wrapper h1 {
    font-size: 3vh;
    margin-bottom: 20px;
  }

  .claim-steps-wrapper h3 {
    font-size: 2vh;
    margin-bottom: 20px;
  }

  .claim-steps-content {
    grid-template-columns: 1fr;
  }

  .claim-step-box {
    margin-bottom: 20px;
  }

  .claim-step-box h2 {
    font-size: 2vh;
    margin-bottom: 8px;
  }

  .claim-step-box p {
    font-size: 2vh;
  }

  .claim-step-box button {
    margin-top: 10px;
    font-size: 2.2vh;
    padding: 20px;
  }

  .claim-steps-wrapper .form-container {
    width: 80%;
  }
}