.claims-form {
  margin-top: 55px;
  border-top: 2px solid black;
  height: calc(100vh - 57px - 102px);
  background-color: whitesmoke;
}

.claims-form h1 {
  padding-top: 100px;
  color: #000F3C;
  font-weight: 400;
  text-align: center;
}
