.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  height: 55px;
  list-style: none;
}

.header.transparent {
  background-color: transparent;
  box-shadow: none;
}

.header.solid {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header.solid nav a,
.not-home nav a {
  color: black;
}

nav {
  padding-top: 0px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0;
}

.header nav li:first-child {
  margin-left: 20px;
}

header nav li {
  position: relative;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}

header nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

header nav li.wrap-text a {
  white-space: normal;
  width: 120px;
  display: block;
}

header nav li:last-child {
  margin-right: 0;
  border-right: none;
}

header nav li:not(.wrap-text) a {
  text-align: center;
  padding: 10px;
}

.logo img {
  padding-top: 10px;
  padding-bottom: 7px;
  height: 55px;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header-content {
    width: 90%;
  }

  nav li {
    padding: 0px;
  }

  header nav li:not(.wrap-text) a {
    text-align: center;
    padding: 5px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    height: 55px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    width: 200px;
  }

  .logo {
    text-align: center;
  }

  .logo img {
    padding-top: 6px;
    padding-bottom: 7px;
    height: 45px;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
  }

  nav.open {
    display: block;
  }

  nav.open a {
    color: black;
  }

  nav.open p {
    font-size: 10px;
    margin: 4px 0 0 0;
    padding-left: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0 10px;
  }

  nav li:not(.wrap-text) a {
    padding: 5px;
  }

  nav li:not(:last-child) {
    margin-bottom: 10px;
  }

  .header nav li:first-child {
    margin-left: 0px;
  }

  .menu-icon-wrapper {
    display: flex;
    cursor: pointer;
    z-index: 101;
    position: absolute;
    padding: 0px;
    height: fit-content;
    width: fit-content;
    right: 2px;
    top: 18px;
    background-color: transparent;
    border: none;
  }

  .header.transparent .menu-icon-wrapper {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  
  .header.solid .menu-icon-wrapper {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  }

  .menu-icon-wrapper .menu-icon {
    width: 20px;
  }

  button:hover {
    background-color: transparent;
  }
}