.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  height: 55px;
  list-style: none;
}

.header.transparent {
  background-color: transparent;
  box-shadow: none;
}

.header.solid {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header.solid nav a,
.not-home nav a {
  color: #666666;
}

nav {
  padding-top: 0px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0;
}

.header nav li:first-child {
  margin-left: 20px;
}

nav li {
  position: relative;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 500;
}

nav li:last-child {
  margin-right: 0;
  border-right: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.logo img {
  padding-top: 8px;
  padding-bottom: 7px;
  height: 45px;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 900px) {
  .header {
    width: 100vw;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .logo {
    text-align: center;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  nav.open {
    display: block;
    padding: 10px 0px 0px 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    margin-bottom: 10px;
  }

  .header nav li:first-child {
    margin-left: 0px;
  }

  .menu-icon-wrapper {
    display: flex;
    cursor: pointer;
    z-index: 101;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 20px;
    background-color: transparent;
    border: none;
  }

  .menu-icon-wrapper .menu-icon {
    width: 20px;
  }

  button:hover {
    background-color: transparent;
  }

  nav.open a {
    color: black;
  }
}