.home-container {
  text-align: center;
}

.splash-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/images/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.claimsteps-container {
  background-image: linear-gradient(to bottom, #FFFFFF, #008FDA);
  height: fit-content;
  padding-bottom: 40px;
}

.claimtypes-container,
.claimsteps-container {
  border-top: 5px solid;
}

.wrapper h1,
.wrapper h3,
.claimtypes-container h3 {
  color: #000F3C;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .splash p:first-child {
    font-size: 5vw;
    margin: 10px;
  }

  .splash p:nth-child(2) {
    font-size: 3vw;
    margin: 10px;
  }

  .splash p:last-child {
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 0;
  }

  button {
    font-size: 2vw;
    padding: 12px 30px;
    height: 50px;
  }

  .container.text-center {
    height: 50vh;
  }
}