.home-container {
  text-align: center;
}

.splash-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/images/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.claimsteps-container {
  background-image: linear-gradient(to top, white, #008FDA);
  height: fit-content;
  padding-bottom: 40px;
}

.claimsteps-container {
  border-top: 5px solid;
}

.claim-steps-wrapper h1,
.claim-steps-wrapper h3,
.claim-types-wrapper h3 {
  color: black;
  font-weight: 400;
}

.claim-types-wrapper h1,
.claim-types-wrapper h3 {
  color: black;
}

@media screen and (max-width: 768px) {
  .splash-container {
    height: auto;
    min-height: 100vh;
    padding-bottom: 40px;
  }

  .claimtypes-container {
    display: none;
  }
}