body {
  margin: 0;
  overflow-y: scroll;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 1.8vh;
  padding: 16px 38px;
  background-color: #008FDA;
  border-radius: 50px;
  height: 70px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

button>a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #87CEFA;
  cursor: pointer;
  text-decoration: none;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  visibility: hidden;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top-button.show {
  visibility: visible;
}

.thin {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

