.secondary-container {
  min-height: calc(100vh - 100px - 55px);
}

.residential-splash-container,
.commercial-splash-container,
.contractors-splash-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 85vh;
  overflow: hidden;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.residential-splash-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/images/splash-screens/residential-splash.jpg');
}

.commercial-splash-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/images/splash-screens/commercial-splash.jpg');
}

.contractors-splash-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/images/splash-screens/contractors-splash.jpg');
}

.secondary-splash-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  text-align: left;
  max-width: 800px;
  margin: 0 0 0 10vw;
  height: 60vh;
}

.secondary-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
  padding: 5vh 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secondary-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  text-align: center;
  max-width: 800px;
  margin: 0vw auto;
  height: 50vh;
}

.splash-text {
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.secondary-splash-wrapper p:first-child,
.secondary-text-wrapper p:first-child {
  font-size: 4vh;
  margin: 20px;
  font-weight: bold;
}

.secondary-splash-wrapper p:nth-child(2),
.secondary-text-wrapper p:nth-child(2) {
  font-size: 2.3vh;
  margin: 20px;
}

.secondary-splash-wrapper button,
.secondary-text-wrapper button {
  margin: 20px 20px 40px 20px;
  font-size: 1.5vh;
  width: 200px;
}

.secondary-content-container {
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.secondary-content-container {
  font-size: 2.2vh;
}

.secondary-content-container> :nth-child(1) {
  background-color: rgba(211, 211, 211, 0.7);
}

.left-column-image {
  flex: 1;
}

.left-column-image img {
  height: 100%;
  width: 100%;
}

.right-column-text,
.left-column-text {
  padding: 40px 0 40px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-column-content {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.right-column-content button {
  margin-top: 20px;
}

.right-column-image {
  flex: 1;
}

.right-column-image img {
  height: 100%;
  width: 100%;
}

.left-column-content {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .secondary-content-container {
    flex-direction: column;
    height: auto;
  }

  .secondary-splash-wrapper {
    margin: 0 auto;
  }

  .left-column-image,
  .right-column-image {
    order: 2;
  }

  .left-column-text,
  .right-column-text {
    order: 1;
    padding: 60px 0 60px 0;
  }

  .secondary-content-container> :nth-child(1) {
    background-color: white;
  }

  .secondary-content-container:nth-child(odd) .left-column-text,
  .secondary-content-container:nth-child(odd) .left-column-image {
    order: 1;
  }

  .secondary-content-container:nth-child(odd) .right-column-text,
  .secondary-content-container:nth-child(odd) .right-column-image {
    order: 2;
  }

  .left-column-content,
  .right-column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .secondary-splash-container {
    padding-bottom: 40px;
  }

  .secondary-splash-wrapper {
    margin-top: 5vh;
  }

  .secondary-text-container {
    padding: 10vh 0;
    margin: 0 auto;
    background-color: rgba(211, 211, 211, 0.7);
  }

  .secondary-text-wrapper {
    width: 90vw;
  }

  .what-we-do-container {
    display: none;
  }

  .secondary-splash-wrapper button {
    width: 150px;
    padding: 0px;
    font-size: 1.5vh;
  }
}