.page-container {
    position: relative;
    height: fit-content;
    overflow: hidden;
    color: black;
    padding-bottom: 10vh;
    text-align: center;
    margin-top: 55px;
}

.about-header {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 20px;
}

.page-container h2 {
    margin-top: 60px;
}

.content-text p {
    font-size: 2vh;
    margin: 0px auto 20px;
    text-align: left;
    width: 55%;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.profile {
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #008FDA;
    color: white;
}

.profile p {
    margin: 0;
    margin-bottom: 10px;
}

.profile img {
    height: 220px;
    width: auto;
    border-radius: 50%;
    border: 2px black solid;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .content-text p {
        width: 80%;
        font-size: 2.5vh;
        margin: 0 auto 20px auto;
    }
}