.container {
  text-align: center;
}

.splash-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/images/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.splash-container p:first-child {
  font-size: 5.5vh;
  margin: 20px;
}

.splash-container p:nth-child(2) {
  font-size: 2.3vh;
  margin: 20px;
}

.splash-container p:last-child {
  font-size: 2vh;
  margin-top: 40px;
  margin-bottom: 0;
}

button {
  font-size: 1.8vh;
  padding: 16px 38px;
  background-color: #008FDA;
  border-radius: 50px;
  height: 70px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

button>a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #87CEFA;
  cursor: pointer;
  text-decoration: none;
}

.splash-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  max-width: 800px;
  margin: 10vh auto;
  height: 60vh;
}

.claimsteps-container {
  background-image: linear-gradient(to bottom, #FFFFFF, #008FDA);
  height: fit-content;
  padding-bottom: 40px;
}

.thin {
  font-weight: lighter;
}

.claimtypes-container,
.claimsteps-container {
  border-top: 5px solid;
}

.wrapper h1,
.wrapper h3,
.claimtypes-container h3 {
  color: #000F3C;
  font-weight: 400;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .splash p:first-child {
    font-size: 5vw;
    margin: 10px;
  }

  .splash p:nth-child(2) {
    font-size: 3vw;
    margin: 10px;
  }

  .splash p:last-child {
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 0;
  }

  button {
    font-size: 2vw;
    padding: 12px 30px;
    height: 50px;
  }

  .container.text-center {
    height: 50vh;
  }
}