.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 0 100px;
}

.testimonials-contractor-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials-contractor-logo-wrapper img {
  margin: 50px;
  height: 3vh;
}

.testimonial-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.testimonial-icon {
  width: 50px;
  height: 50px;
}

.testimonial-icon-text {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #008FDA;
}

.testimonial-heading {
  font-size: 24px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 18px;
  margin-top: 10px;
  width: 60%;
  text-align: center;
  margin-bottom: 10px;
}

.testimonial-author {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  color: #008FDA;
}

.testimonial-company {
  margin-top: 0px;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .testimonials-container {
    padding: 20px;
  }
  
  .testimonial-text {
    width: 100%;
  }
}
