.what-we-do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24vh;
  background-image: linear-gradient(to right, #008FDA, #DC7C00);
  padding: 0 100px;
}

.title {
  text-align: center;
  color: white;
  margin-top: 34px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.icon-wrapper:last-child {
  margin-right: 0px;
}

.icon {
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.icon-text {
  text-align: center;
  color: white;
  margin-top: 5px;
}
