.what-we-do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  background-image: linear-gradient(to right, rgba(211, 211, 211, 0.7), rgba(211, 211, 211, 0.7));
  padding: 0 100px;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  max-width: 90%;
}

.title {
  text-align: center;
  color: black;
  margin-top: 34px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4vw;
  width: 130px;
}

.icon-wrapper:last-child {
  margin-right: 0px;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon-text {
  text-align: center;
  color: black;
  margin-top: 5px;
}
